html {
 scroll-behavior: smooth;
}
.logo{
  color: #000;
  font-size: 30px;
  margin: 15px 20px 20px 0px;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}
/*Navigation bar*/
.navbar{
  color: #000;
  z-index: 9;
  opacity: 8;
}
.navbar-toggler{
  background-color: #EE7942;
  height: 45px;
  width: 50px;
}
.navbar-toggler:focus{
  outline-style: none;
}
.navbar-toggler:hover{
  background-color: #33BBFF;
}
.toggler-icon{
  color: #FFF;
}
.link-btn{
  background-color: transparent;
  border: none;
  height: 49px;
  border-radius: 49px;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 15px;
}
.link-btn:focus{
  outline-style: none;
}
.link-btn:hover{
  color: orange;
}
.login-btn{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.login-btn:hover{
  background-color: transparent;
  color: orange;
  border-color: orange;
}
.register-btn{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.register-btn:hover{
  background-color: transparent;
  color: orange;
  border-color: orange;
}
/*Carousel content*/
.intro{
  height: 620px;
}
.intro img{
  height: 100%;
}
.carousel-item{
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner{
  height: 620px;
}
.indicators{
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 2px;
  background-color: #E3E3E3;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.indicators:hover{
  background-color: #FFF;
}
.carousel-title {
  font-size: 40px;
  position: absolute;
  top: 35%; 
  color: #000;
  animation: fadeDown 0.5s forwards;
}
.carousel-header{
  font-size: 55px;
  color: #33BBFF;
  position: absolute; 
  top: 45%; 
  animation: fadeDown 1s forwards;
}
.carousel-p{
  position: absolute; 
  top: 58%; 
  width: 30%;
  opacity: 1;
  animation: fadeDown 2s forwards;
  color: #000;
}
.carousel-btn{
  position: absolute; 
  top: 73%; 
  width: 200px;
}
.carousel-btn:hover{
  background-color: #5995fd;
  border: none;
  outline: none;
}
/*About us section*/
.about{
  background-color: #eaf4f7;
}
.cols{
  margin-top: 30px;
}
.about-cards{
  border: none;
  margin-bottom: 20px;
}
.inner-cards{
  background-color: #FFF;
  height: 100%;
  width: 100%;
  border: none;
}
.about-cards:hover{
  transform: rotate(10deg);
  transition-duration: 0.9s;
}
.inner-cards:hover{
  transform: rotate(-10deg);
  transition-duration: 0.9s;
  transition: transform 0.3s 0.3s ease, top 0.3s ease;
}
.inner-cards p, h5{
  margin-left: 20px;
  margin-right: 20px;
}
.inner-cards i{
  margin-left: 20px;
  margin-right: 20px;
}
.inner-cards i{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
}
.inner-cards h5{
  color: #0382C1;
}
.inner-cards p{
  word-spacing: 5px;
  margin-bottom: 40px;
}
.about-info-content{ 
  margin-left: 10px;
  margin-right: 10px;
}
.about-info h1{
  color: #0382C1;
}
.read-more-btn{
  background-color: #FF8247;
  color: #FFF;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 30px;
  font-size: 17px;
  border: none;
  outline: none;
}
.read-more-btn:hover{
  background-color: #33BBFF;
  color: #FFF;
  border: none;
  outline: none;
}
/*Services section*/
.services{
  background-color: #FFF;
}
.services-card{
  border: none;
  background-color: #FFF;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 10px 15px #F2F2F2;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px  10px 15px #F2F2F2;  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 10px 15px #F2F2F2;
}
.services-title{
  margin-top: 15px;
  color: #0382C1;
  font-weight: 700;
  letter-spacing: 2px;
}
.selections{
  border-right: solid 1px;
  border-color: #E3E3E3;
  height: 100%;
}
.selections p{
  margin: 30px;
}
.selections i{
  font-size: 30px;
}
.selections-content{
  margin: 30px;
}
.selections-content i{
  margin: 0px;
  margin-right: 10px;
}
.selections-content h5{
  color: #0382C1;
  margin-left: 0px;
}
/*Back to top button*/
.back-to-top {
  position: fixed;
  background: #18d26e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 15;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
/*Contact page*/
.contact-section{
  position: relative;
}
.contact-intro{
  width: 100%;
  height: 360px;
  position: absolute;
  background-image:
  linear-gradient(to bottom, rgba(201, 228, 250, 0.52), rgba(245, 235, 243, 0.5)),
  url('./images/c_6.jpeg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 6%;
}
.contact-intro-image{
  position: absolute;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 2%;
}
.contact-header{
  position: relative;
  top: 25%;
  left: 10px;
}
.contact-content{
  position: relative;
  top: 380px;
}
.contact-form p{
  margin: 20px;
}
.contact-form h2{
  color: #036292;
  margin: 20px;
}
.contact-form .input-field {
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.contact-form .input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.contact-form .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.contact-form .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.contact-form textarea{
  width: 100%;
  background-color: #f0f0f0;
  height: 200px;
  border-radius: 35px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  outline: 0;
  border: none;
  padding: 20px;
}
.contact-form textarea::placeholder{
  color: #aaa;
  font-weight: 500;
}
.map-col{
  margin-top: 25px;
}
.send-btn{
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.send-btn:hover{
  background-color: #052d74;
  color: #FFF;
}
.contact-extra{
  position: relative;
  top: 430px;
  background-color: rgb(228, 242, 252);
}
.contact-footer{
  position: relative;
  top: 620px;
}
/*Form validators error*/
input.error {
  border: 1px solid #EADAE4;
}
.error {
  color:#db2269;
  display: relative;
  animation: fadeDownerrors 1.5s linear;
}
.fullName {
  margin-right: 1%;
}
.fullName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.fullName {
  width: 100%;
}
.email,
.password {
  width: 100%;
}
/*Snackbar*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #df296f;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#success-snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: rgb(76, 180, 62);
  color: #FFF;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 15;
  left: 5%;
  height: 50px;
  bottom: 30px;
  font-size: 14px;
  display: flex;
}
#success-snackbar p{
  font-size: 13px;
}

#success-snackbar i{
  margin-right: 10px;
  font-size: 18px;
}

#success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadeinsnackbar 0.5s, fadeoutsnackbar 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*Footer*/
.footer{
  background-color: rgb(14, 12, 12);
  color: #E3E3E3;
  font-size: 14px;
}
.footer h4{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.footer h4::before,
.footer h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
.footer h4::before{
  right: 0;
  background: #555;
}
.footer h4::after{
  background: #18d26e;
  width: 60px;
}
.footer-logo-col{
  margin-bottom: 20px;
}
.useful-links{
  margin-bottom: 20px;
}
.contact-links p{
  margin-top: 20px;
}
.copyright{
  text-align: center;
  padding: 20px;
}
.starter{
  margin-top: 20px;
}
.fa-chevron-right{
  margin-right: 10px;
}
.footer .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .social-links a:hover{
  background: #18d26e;
  color: #fff;
}
/*User dashboard*/
/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}
.order-content{
  border-right: solid 1px;
  border-color: #E3E3E3;
}
.contractors-title{
  font-size: 15px;
  color: #6923D0;
}
.contractor-card{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border-width: thin;
  border: 1px solid;
  border-color: rgb(207, 205, 205);
  border-radius: 10px;
}
.contractor-card:hover{
  -webkit-box-shadow: 2px 2px 10px 15px #F2F2F2 ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px  10px 15px #F2F2F2;  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 10px 15px #F2F2F2;
  animation: contractorcardfadeUp 0.5s forwards;
}
.contractor-icon{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 45px;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.contractor-info{
  margin-top: 10px;
  margin-left: 10px;
  width: 69%;
}
.contractor-info p{
  margin-bottom: 1px;
}
.contractor-name{
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-top: 8px;
}
.location-validation{
  display: flex;
}
.contractor-location{
  font-size: 12px;
  font-weight: 400;
}
.contractor-review{
  color: #6923D0;
  font-size: 12px;
  font-weight: 400;
}
.contractor-review i{
  color: rgb(230, 230, 30);
  font-size: 13px;
}
.contractor-validation-status{
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
}
.contractor-validation-status i{
  color: #18d26e;
}
.action-icon{
  margin-top: 10px;
  position: relative;
  font-size: 22px;
  color: rgb(143, 140, 140);
}
.order-form{
 
}
.description-textarea{
  border-color: #E3E3E3;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}
.cancel-btn{
  color: #FFF;
}
.cancel-btn:hover{
  color: #FFF;
}
.next-step-btn{
  background: rgb(76, 180, 62);
  color: #FFF;
  position: relative;
  left: 89.5%;
  outline: none;
}
.next-step-btn:hover{
  color: #FFF;
}
.action-btns{
  display: flex;
}