html {
 scroll-behavior: smooth;
}
.logo{
  color: #000;
  font-size: 30px;
  margin: 15px 20px 20px 0px;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}
/*Navigation bar*/
.navbar{
  color: #000;
  z-index: 9;
  opacity: 8;
}
.navbar-toggler{
  background-color: #EE7942;
  height: 45px;
  width: 50px;
}
.navbar-toggler:focus{
  outline-style: none;
}
.navbar-toggler:hover{
  background-color: #33BBFF;
}
.toggler-icon{
  color: #FFF;
}
.link-btn{
  background-color: transparent;
  border: none;
  height: 49px;
  border-radius: 49px;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 15px;
}
.link-btn:focus{
  outline-style: none;
}
.link-btn:hover{
  color: orange;
}
.login-btn{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.login-btn:hover{
  background-color: transparent;
  color: orange;
  border-color: orange;
}
.register-btn{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.register-btn:hover{
  background-color: transparent;
  color: orange;
  border-color: orange;
}
/*Carousel content*/
.intro{
  height: 620px;
}
.intro img{
  height: 100%;
}
.carousel-item{
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-inner{
  height: 620px;
}
.indicators{
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 2px;
  background-color: #E3E3E3;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.indicators:hover{
  background-color: #FFF;
}
.carousel-title {
  font-size: 40px;
  position: absolute;
  top: 35%; 
  color: #000;
  animation: fadeDown 0.5s forwards;
}
.carousel-header{
  font-size: 55px;
  color: #33BBFF;
  position: absolute; 
  top: 45%; 
  animation: fadeDown 1s forwards;
}
.carousel-p{
  position: absolute; 
  top: 58%; 
  width: 30%;
  opacity: 1;
  animation: fadeDown 2s forwards;
  color: #000;
}
.carousel-btn{
  position: absolute; 
  top: 73%; 
  width: 200px;
}
.carousel-btn:hover{
  background-color: #5995fd;
  border: none;
  outline: none;
}
/*About us section*/
.about{
  background-color: #f3fafc;
}
.cols{
  margin-top: 30px;
}
.about-cards{
  border: none;
  margin-bottom: 20px;
}
.inner-cards{
  height: 100%;
  width: 100%;
  border: none;
}
.about-cards:hover{
  transform: rotate(10deg);
  transition-duration: 0.9s;
}
.inner-cards:hover{
  transform: rotate(-10deg);
  transition-duration: 0.9s;
  transition: transform 0.3s 0.3s ease, top 0.3s ease;
}
.inner-cards p, h5{
  margin-left: 20px;
  margin-right: 20px;
}
.inner-cards i{
  margin-left: 20px;
  margin-right: 20px;
}
.inner-cards i{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
}
.inner-cards h5{
  color: #0382C1;
}
.inner-cards p{
  word-spacing: 5px;
  margin-bottom: 40px;
}
.about-info-content{ 
  margin-left: 10px;
  margin-right: 10px;
}
.about-info h1{
  color: #0382C1;
}
.read-more-btn{
  background-color: #FF8247;
  color: #FFF;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 30px;
  font-size: 17px;
  border: none;
  outline: none;
}
.read-more-btn:hover{
  background-color: #33BBFF;
  color: #FFF;
  border: none;
  outline: none;
}
/*Services section*/
.services{
  background-color: #FFF;
}
.services-card{
  border: none;
  background-color: #FFF;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 10px 15px #F2F2F2;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px  10px 15px #F2F2F2;  /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 10px 15px #F2F2F2;
}
.services-title{
  margin-top: 15px;
  color: #0382C1;
  font-weight: 700;
  letter-spacing: 2px;
}
.selections{
  border-right: solid 1px;
  border-color: #E3E3E3;
  height: 100%;
}
.selections p{
  margin: 30px;
}
.selections i{
  font-size: 30px;
}
.selections-content{
  margin: 30px;
}
.selections-content i{
  margin: 0px;
  margin-right: 10px;
}
.selections-content h5{
  color: #0382C1;
  margin-left: 0px;
}
/*Back to top button*/
.back-to-top {
  position: fixed;
  background: #18d26e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 15;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
/*Contact page*/
.contact-section{
  position: relative;
}
.contact-intro{
  width: 100%;
  height: 360px;
  position: absolute;
  background-image:
  linear-gradient(to bottom, rgba(201, 228, 250, 0.52), rgba(245, 235, 243, 0.5)),
  url('./images/c_6.jpeg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 6%;
}
.contact-intro-image{
  position: absolute;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 2%;
}
.contact-header{
  position: relative;
  top: 25%;
  left: 10px;
}
.contact-content{
  position: relative;
  top: 380px;
}
.contact-form p{
  margin: 20px;
}
.contact-form h2{
  color: #036292;
  margin: 20px;
}
.contact-form .input-field {
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.contact-form .input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.contact-form .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.contact-form .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.contact-form textarea{
  width: 100%;
  background-color: #f0f0f0;
  height: 200px;
  border-radius: 35px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  outline: 0;
  border: none;
  padding: 20px;
}
.contact-form textarea::placeholder{
  color: #aaa;
  font-weight: 500;
}
.map-col{
  margin-top: 25px;
}
.send-btn{
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.send-btn:hover{
  background-color: #052d74;
  color: #FFF;
}
.contact-extra{
  position: relative;
  top: 430px;
  background-color: rgb(228, 242, 252);
}
.contact-footer{
  position: relative;
  top: 620px;
}
/*Footer*/
.footer{
  background-color: rgb(14, 12, 12);
  color: #E3E3E3;
  font-size: 14px;
}
.footer h4{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.footer h4::before,
.footer h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
.footer h4::before{
  right: 0;
  background: #555;
}
.footer h4::after{
  background: #18d26e;
  width: 60px;
}
.footer-logo-col{
  margin-bottom: 20px;
}
.useful-links{
  margin-bottom: 20px;
}
.contact-links p{
  margin-top: 20px;
}
.copyright{
  text-align: center;
  padding: 20px;
}
.starter{
  margin-top: 20px;
}
.fa-chevron-right{
  margin-right: 10px;
}
.footer .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .social-links a:hover{
  background: #18d26e;
  color: #fff;
}




